* {
    -webkit-user-select: none;
    /* Pour les navigateurs basés sur WebKit (Chrome, Safari) */
    -moz-user-select: none;
    /* Pour les navigateurs basés sur Gecko (Firefox) */
    -ms-user-select: none;
    /* Pour les navigateurs basés sur Trident (Internet Explorer) */
    user-select: none;
    font-family: 'sketched_font';
    cursor: url('../images/icon_leaf.png'), cell;
}

body {
    background-image: url(../images/carnet_cafe_resized_5.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    background-color: peachpuff;
}

button img {
    position: fixed;
    bottom: 60px;
    right: 100px;
    display: block;
    width: 8%;
    height: auto;
    transition: transform 0.3s ease;
}

button:hover img {
    transform: scale(1.1);
}

.selected {
    border: 3px solid black;
    border-radius: 5%;
}

.hidden {
    opacity: 0;
}

.global-container {
    width: 100%;
    height: 100%;
}

.quizz_lieux_container,
.quizz_bestiaire_container,
.quizz_don_container,
.clem_present {
    padding: 2%;
    width: 15%;
    height: auto;
    display: block;
    position: fixed;
    transition: transform 0.3s ease;
}

.quizz_lieux_container:hover,
.quizz_bestiaire_container:hover,
.quizz_don_container:hover {
    transform: scale(1.1);
}

.clem_present {
    border-radius: 5%;
    width: 41%;
}

.quizz_lieux_container {
    margin-left: 55%;
    margin-top: 2%;
}

.quizz_bestiaire_container {
    margin-top: 10%;
    margin-left: 78%;
}

.quizz_don_container {
    margin-top: 25%;
    margin-left: 57%;
}

.quizz_don_image {
    width: 100%;
    height: auto;
}

.quizz_lieux_image {
    width: 100%;
    height: auto;
}

.quizz_bestiaire_image {
    width: 100%;
    height: auto;
}

.rotate {
    animation: rotate-scale-up 0.65s linear both;
}

.text_quizz_bestiaire {
    text-align: center;
    font-size: 1.3em;
    font-weight: 2;
}

.text_quizz_lieux {
    text-align: center;
    font-size: 1.3em;
    font-weight: 2;
}

.text_quizz_don {
    text-align: center;
    font-size: 1.3em;
    font-weight: 2;
}

@font-face {
    font-family: 'sketched_font';
    src: url(../font/the\ unseen.ttf);
}



@keyframes rotate-scale-up {
    0% {
        transform: scale(1) rotateZ(0);
    }

    50% {
        transform: scale(1.3) rotateZ(180deg);
    }

    100% {
        transform: scale(1) rotateZ(360deg);
    }
}